<h2>Product List</h2>

<form>
  <label>Field</label>
  <select name="field" [(ngModel)]="selectedField">
    <option [value]="fieldName" 
            *ngFor="let fieldName of fields" >
        {{fieldName}}
    </option>
  </select>

  <label>Predicate</label>
  <select name="predicate" [(ngModel)]="selectedPredicate">
    <option [value]="predicate" 
            *ngFor="let predicate of predicates" >
        {{predicate}}
    </option>
  </select>

  <label>Value</label>
  <input name="expected" [(ngModel)]="expectedValue" type="number" />
</form>

<div>
  <p>Condition: {{selectedField}} {{selectedPredicate}} {{expectedValue}}</p>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Year</th>
      <th>Weight</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let product of (products | filter:selectedField:selectedPredicate:expectedValue)">
      <td>
          <a [routerLink]="['/products', 'edit', product.id]">
          {{product.name | uppercase}}
        </a>
      
      </td>
      <td>{{product.price | currency:'INR':false}}</td>
      <td>{{product.year}}</td>
      <td>{{product.weight}}</td>
    </tr>
  </tbody>
</table>