<!-- component presentational logic -->

<div>
    <h1>Welcome to {{title}}</h1>
    
    <!--
    {{expr}} => convert expr to string 
    [] - pass object/result as it is

    -->

    <app-header [title]="title"  ></app-header>

    <!-- step 2: place holder for routed views -->
    <!-- router-outlet from router module-->

    <router-outlet>
    </router-outlet>

<!-- 
    <app-home></app-home>
    <app-about></app-about>
    <app-contact></app-contact> -->
    
    <app-footer   [title]="title"
                  [today]="today"             
    ></app-footer>

</div>